/* custom fonts */

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Regular.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Regular.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Light.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Light.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Medium.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Medium.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Bold.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Bold.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}





/* start */





html
{
    overflow-x: hidden;
}
.navbar-nav{
    /* font-family: Arial; */
    font-size: 20px;
}

body
{
    font-family: 'PlusJakartaSans', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}










.robocon-image{
    width: 100%;
    height: 86vh;
    background-image: url(images/t1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: 0px -170px 180px 50px rgba(0, 0, 0, 0.9) inset;
    display: flex;
    justify-content: center;
}

.robocon-image .robocon-title{
    bottom: 0;
    position: absolute;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 30px black;
}

.robocon-image .robocon-title h3{
    font-weight: bold;
    letter-spacing: 8px;
    font-size: 40px;
    padding-bottom: 0;
}

.robocon-image .robocon-title h1{
    font-weight: bolder;
    letter-spacing: 10px;
    font-size: 140px;
    padding-bottom: 50px;
}

.about-section{
    display: flex;
}

.write-up-about{
    width: 65%;
    padding: 20px 30px 30px 70px;
}

 .about-us
 {
    text-align: left;
    font-size: 50px;
    padding-bottom: 10px;
 }

 .about-us-content
 {
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
 }

.about-drishti-image{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.robocon-section{
    width: 100%;
    padding: 40px 150px 40px 150px;
    background-color: #202328;
    color: #f8fafd;
    background-image: url(images/robocon.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-shadow: 0px 0px 30px rba(0,0,0,0.5);
}

.robocon-section h1{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    padding: 30px;
}

.robocon-section p{
    font-size: 20px;
    text-align: justify;
}

.robocon-status{
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.robocon-year{
    width: 25%;
    text-align: center;
    padding-top: 80px;
}

.robocon-year h1{
    font-weight: bolder;
    font-size: 70px;
}

.robocon-year h3{
    font-weight: bolder;
    font-size: 30px;
}

.robocon-year-info{
    width: 75%;
}

.year-info{
    padding: 30px 100px 30px 60px;
    font-size: 20px;
    text-align: justify;
}

.year-images{
    display: flex;
}

.year-images img{
    width: 45%;
    padding: 0px 0px 35px 40px;
}


















.con{
    border:2px solid transparent;
     padding-left: 50px;
     padding-right: 50px;
 }

 .svnit_photo {
    /* height:100px; */
    width:180px;
    height: auto;
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
}

 /* .contact{
     padding-left: 90px;
     padding-right: 90px;
 } */


 .about
 {
    padding-top: 10px;
 }


 .about_us
 {
    text-align: left;
    padding-bottom: 10px;
 }

 .about_us_content
 {
    text-align: justify;
    font-size: large;
    font-weight: 400;
 }

 .pad
 {
    padding-bottom: 30px;
    padding-top: 40px;
 }

 .pad_data
 {
    text-align: justify;
     font-size: large;
    font-weight: 500;
 }

 ul li:hover{
     background-color:rgb(211,211,211);
     font-weight: bolder;
 }
 .carousel-item{
     padding-right: 0px;
     padding-left: 0px;
 }
 .hello1{
    height: 720px;
     width: 1250;
 }
 .hello2{
    height: 720px;
     width: 1300;
 }
 .hello3{
    height: 720px;
     width: 1300;
 }
 @media(max-width:978px)
{
    .hello
    {
        padding-top: 50px;
    }
}
 @media (max-width: 600.98px) {
    .con{
    border:2px solid transparent;
    padding-left: 20px;
    padding-right: 10px;
    }
    .svnit_photo {
        margin-left: 0%;
        /* height: 75px; */
        width: 130px;
        height: auto;
    }
    .hello1{
    height: 250px;
    }

    .hello2{
    height: 250px;
    }

    .hello3{
    height: 250px;
    }
    .about_us_content
    {
        font-weight: 400;
    }
    .pad_data
    {
        font-weight: 400;
    }
}
.dob .x
{
    color:white;
     padding-top:30px;
}
@media(max-width:800px)
{
    .dob .x{
        padding-top:4px;
    }
}
.dob
{
    padding-left: 50px;
     padding-top: 50px;
    padding-right: 50px;
}
@media(max-width:450px)
{
    .dob
    {
        padding-right: 0px;
        padding-left:0px;
    }
}
@media(max-width:978px)
{
    .ifr
    {
        padding-top: 80px;
    }
}
